<div class="row">
    <div class="col-12">
        <form class="border border-dark p-3">
            <div class="form-group">
                <label><h5>Username</h5></label>
                <input type="text" class="form-control" id="login-username" placeholder="Username">
            </div>
            <div class="form-group">
                <label><h5>Password</h5></label>
                <input type="password" class="form-control" id="login-password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary" id="login">Login</button>
            <div class="col-12 p-0">
                <a class="nav-item nav-link" href="/signup">Sign up instead</a>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>
